# API configuration environment variables
PORT=3000
ACCOUNT_PRIVACY=true
UPTIME_ROBOT_API_KEY_MAIN=your-api-key-main-here
UPTIME_ROBOT_API_KEY_READ_ONLY=your-api-key-read-only-here
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
API_URL=https://your-api-url.vercel.app
NODE_ENV=production

# Database configuration environment variables
DB_ACTIVE=false
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=